:root {
    --primary: gray;
    --secondary:blue;
    --tertiary: rgb(8, 115, 150);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
    background-color: rgb(46, 46, 53);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
 
}

header h1 {
    font-weight: bold;
    padding: 20px;
    font-size: 36px;
    color: var(--tertiary);
}


header a {
    text-decoration: none;
    color: var(--tertiary);
}


header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 20px ;
    font-size: 30px;
}

header nav ul li a {
    font-weight: lighter;
    font-style: 1.55vw;
    border-bottom: 5px solid var(--tertiary);
    padding-bottom: 3px;
}


/*HEADER / NAV BAR STYLE ENDS */


/* FOOTER STYLE START */
footer {
    padding: 20px 35px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer h2 {
    font-weight: bold;
    margin: 0;
    font-size: 25px;
    color: blue;
    justify-content: left;
}

footer a {
    text-decoration: none;
    color: blue;
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    margin: 0 20px;
    font-weight: lighter;
    font-style: 1.25vw;
}
/* FOOTER STYLE ENDS */

/* SUBTITLE BEGINS*/

.subtitle  {
    background-image: url(../images/christian-haley-future-city-a-christian-haley-2017.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    font-size: 20px;
}

.subtitle h2 {
    justify-content: left;
    color: white;
    padding-left: 90%;
}
/* SUBTITLE ENDS */

/*ABOUT ME BEGINS*/

.about-me {
    display: flex;
    color: var(--primary);
    padding: 50px;
    column-count: 2;
    column-gap: 40px;
}
.column1-2 {
    float: left;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  
  /* Clear floats after the columns */
.about-me:after {
    content: "";
    display: table;
    clear: both;
  }
  /*ABOUT ME ENDS*/

  /*WORK BEGINS*/

  .container {
    margin: 100px auto;
    padding-right: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    justify-content: center;
}

  main h2 {
    color: var(--primary);
    font-size: 50px;
    font-weight: lighter;
    justify-content:flex-end;
    padding-top: 30px;
    display: flex;
    flex: 1 20%;;
    padding-right: 30px;
}

.img-container {
    display: flex;
    flex: 2 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 5px solid var(--primary);
    padding-left: 30px;
}

.img-container .run-buddy {
    flex: 1 100%;
    border: 5px solid var(--tertiary);
    position: relative;
    display: inline-block;
    background-color: var(--primary);
    padding: 15px;
    margin-bottom: 10px;
}

.run-buddy img {
    max-width: 100%;
    display: block;
}


.run-buddy a {
    flex: 0 0 50%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.img-container .work {
    flex: 1 50%;
    border: 5px solid var(--tertiary);
    position: relative;
    display: inline-block;
    background-color: gray;
    padding: 15px;
    margin-bottom: 10px;
    background-size: cover;
}

.run-buddy.img .text{
    position: relative;
    top: 50%;
}


.run-buddy.img{
    background-image: url("../images/Screenshot\ 2022-06-23\ 214906.png");
    background-size: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: top right;
}

.work.img-1{
    background-image: url("../images/Screenshot\ 2022-06-23\ 215059.png");
    background-position: cover;
    background-repeat: no-repeat;
}

/*changes made to hover on work section*/
.run-buddy:hover, .work:hover{
    opacity: 0.5;
}

.work.img-2{
    background-image: url("../images/download.jpg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}

.work.img-3{
    background-image: url("../images/download.jpg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}

.work.img-4{
    background-image: url("../images/download.jpg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}

/*adds the ability to click href*/
.work a, .run-buddy a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
/*sends objects to the front or back based on number, low being the closest*/  
    z-index: 1;
}


.img-container .text {
    margin: 5px;
    display: inline-block;
    padding: 5px;
    background-color: var(--tertiary);
}

.text h3 {
    color: var(--secondary);
    font-size: 1.2vw;
    font-weight: lighter;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.text p {
    color: var(--secondary);
    font-family: "century gothic",Verdana,sans-serif;
    font-size: .8vw;
    font-weight: lighter;
    padding-top: 0px;
    padding-right: auto;
    padding-bottom: 40px;
    padding-left: 40px;
} 
  
  
/* media query */

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }

    .about-me {
        width: 100%;
        text-align: center;
    }

  }
  @media screen and (max-width: 768px) {

    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
  }